/* MAIN STYLES*/
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #ffffff;
    --dairy: #fcfcfc;


    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--slate);
    background-color: var(--white);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2, h3 {
    color: var(--navy-blue);
    margin: 0;
}

p {
    margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px ;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER*/
.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--second-family);
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-link {
  color: var(--iris);
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--navy-blue);
  font-weight: 500;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.address {
  margin-left: auto;
}

.address-link {
  color: var(--slate);
  font-style: normal;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* Section HERO*/
.hero {
  background-color: var(--navy-blue);
}

.hero-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 496px;
  
}

.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
}

/* Section OUR FEATURES */

.features-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item-heading {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.features-item-paragraph {
  letter-spacing: 0.02em;
}

/* Section OUR TEAM */
.team {
  background: var(--cloud);
}


.team-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  background: var(--white);
  border-radius: 0 0 4px 4px;
}

.team-cart {
  padding: 32px 16px;
}

.team-heading {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.team-paragraph {
  letter-spacing: 0.02em;
  text-align: center;
}

/* Section OUR PORTFOLIO */

.portfolio-title{
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item-cart {
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}

.portfolio-item-heading {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-item-paragraph {
  letter-spacing: 0.02em;
}

/* FOOTER */
.footer {
  background-color: var(--navy-blue);
}
.footer-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}


.logo-footer {
  display: inline-block;
  color: var(--cloud);
  margin-bottom: 16px;
}

.footer-paragraph {
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}